server:
  port: 8100

## mysql数据库
#dbconfig:
#  # 数据库类型，可选项:mysql、mariadb、oracle、db2、h2、hsql、sqlite、postgresql、sqlserver2005、sqlserver、dm、other
#  dbType: mysql
##  url: jdbc:mysql://172.18.100.122:3306/portal?useUnicode=true&characterEncoding=UTF-8&serverTimezone=Asia/Shanghai
#  driver: com.mysql.cj.jdbc.Driver
##  username: portal
##  password: powersi$123
#  url: jdbc:mysql://127.0.0.1:3306/portal?useUnicode=true&characterEncoding=utf8&serverTimezone=GMT%2B8&allowMultiQueries=true
#  username: root
#  password: 123456
#  # 包名信息
#  basePackage: com.powersi
#  # 作者信息
#  author: powersi
#  # 模块名称
#  project: portal
#  # 分类名称
#  sort: sys

# swagger配置
swagger:
  enabled: true

# sqlite数据库配置
# 一、sqlite文件在resources目录下（仅适合只读的场景，不推荐使用）
# 1.在IDEA中运行时，sqlite文件会被复制到target下的相对路径（target/classes/dbs/MySqlite.db），修改数据时，修改的是target下的sqlite文件;
# 2.用jar包运行时，sqlite文件会被复制到缓存目录，修改的也是缓存目录下的db文件（在window 10下的缓存路径是C:\Users\${用户名}\AppData\Local\Temp\sqlite-jdbc-tmp-xxxxxxxx.db）。
# spring.datasource.url=jdbc:sqlite::resource:dbs/MySqlite.db
# 二、sqlite文件为相对路径
# 1.在IDEA中运行时，相对路径基准目录为当前项目的目录（也就是跟src的同级目录）；
# 2.用jar包运行时，相对路径基准目录为jar包所在目录。
# spring.datasource.url=jdbc:sqlite:dbs/MySqlite.db
# 三、sqlite文件为绝对路径
spring:
  datasource:
    url: jdbc:sqlite:C:/db/MySqlite.db
    driver-class-name: org.sqlite.JDBC
  # mapper.xml文件路径
mybatis:
  mapper-locations: classpath:mappers/*.xml
  # spring的jdbc可以根据spring.datasource.url的前缀判断driver-class-name，所以spring.datasource.driver-class-name该配置可以不写
# sqlite默认不支持设置用户名和密码，一般是通过对sqlite文件加密进行数据保护，所以这两个配置先不配置
# spring.datasource.username=
# spring.datasource.password=
simbot:
  core:
    bot-resource-type: RESOURCE_FIRST
    scan-package: com.ljf
  component:
    mirai:
      #protocol: IPAD
      protocol: ANDROID_WATCH
      no-desktop: false
tess4j:
  data-path: D:\tessdata
  language: chi_sim
fontpath: classpath:/font/miaomiao.ttf
basePicPath: classpath:/pic/base/
tmpPicPath: classpath:/pic/tmp/